@font-face {
    font-family: undertaleMono;
    src: url(./fonts/determinationmonoweb-webfont.woff);
}

button {
    background-color: rgb(122, 121, 121);
    border: 5px solid rgb(218, 218, 218); 
    color: rgb(204, 204, 204);
    width: 170px;
    height: 65px;
    margin: 20px;
    font-size: 30px;
    font-family: undertaleMono;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#question {
    color: rgb(204, 204, 204);
    font-size: 50px; 
    text-align: center;
}

body {
    background-color: black;
}


@keyframes hideButtons{
    0% {width: 170px; height: 65px; border: 5px solid}
    85% {font-size: 0px}
    100% {width: 0px; height: 0px; font-size: 0px; border: 0px solid}
}

@keyframes showButtons{
    0% {width: 0px; height: 0px; font-size: 0px; border: 0px solid}
    25% {font-size: 0px; border: 5px solid}
    90% {width: 170px; height: 65px; font-size: 30px}
}
